.legend{
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: flex-end;
    margin-bottom: 64.5px;
    margin-top: 0px;
}
.legend-element{
    margin-right: 32px;
    color: #74798C;
    font-size:14px;
    font-weight: 500;
}
.legend-point{
    width: 8px; 
    height: 8px;
    margin-right: 7px; 
}
.titre-poid{
    margin: 0px;
    position: absolute;
    z-index: 100;
    font-size: 15px;
    color: #20253A;
    font-weight: 500;
}
.custom-tooltip-poid{
    background-color: #E60000;
    padding: 5px 12px;
    color: white;
    margin-left: 47px;
    margin-right: 47px;
    margin-bottom: 20px;
    font-size: 7px;
    line-height :24px;
}