.Main__user{
    display: flex;
}
.contenu{
    width: 100%;
    margin-top: 68px;
    margin-left: 107px;
    /* margin-right: 90px; */
    @media screen and (max-width: 1400px){
        margin-left: 10px;
        margin-right: 10px;
    }
}
.Poid{
    height: 274px;
    background-color: #FBFBFB;
    padding: 23px 26px 23px 32px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.contenu2{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    @media screen and (max-width: 1400px){
        display: flex;
        flex-direction: column;
    }
}
.contenu2__gauche{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:30px;

}
.key{
    display: flex;
    flex-direction: column;
    gap: 39px;
    @media screen and (max-width: 1400px){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}
.SousPoid{
    height: 258px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;  
}